
.team-page{
    background: #051522;
}
.team-page>.heading{
    text-align: center;
    font-family: 'Montserrat';
}

.team-page>.heading>h1{
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 98px;
    text-align: center;
}
.end{
    position: absolute;
    font-family: 'Montserrat';
    font-style: normal;
    text-align: center;
    color: #FFFFFF;
    margin:auto;
    padding-top:5rem;
    background: #051522;
}
.team-page>.end>.end1{
    display: flex;
    margin-left:1rem;
    margin-right:1rem;
}
.prdcrd{
    box-shadow: 0px 0px 1px 1px #EAEAEA;
    border-radius: 5px;
    margin-right: 0px;
    padding: 10px;
    display:flex;
    margin-bottom:30px;
    margin:auto;
    margin-bottom:2rem;
    width: 300px;
    height: 320px;
    background: #051522;
    border-radius: 10px;
}

.column {
    float:left;
    width: 16%;
  }.row:after {
    content: "";
    display: flex;
    clear: both;
  }
  .custom-select{
    width: 85px;
    height: 50px;
    left: -1289px;
    top: 5561px;
    
    background: #D9D9D9;
    border-radius: 10px;
    margin-right:20rem;
    margin-bottom:5rem;

  }
  .dark{
    display: flex;
    background-color: #051522;
    align-items: center;
    height: 16rem;
    width: 14.52rem;
    margin-left:.0001rem;
    
    margin-bottom: 5rem;
  }

  .def{
    display:none;
  }

  .abc:hover + .social-container{
    display:flex;
    background: #eee;
    padding: 20px 50px;
    width:12rem;
    height: 10rem;
    margin:auto;
    margin-right: 5rem;
  
  }

  .abc:hover {
    display:none;
  
  }

  .social-container {
    
    padding: 25px 50px;
    display:none;
    width:8rem;
    height: 4rem;
  margin-top: 12rem;
    margin-right:1rem;
  }

  a.social {
  margin: 1rem;
  display: flex;
 
  margin-top:4rem;
 margin-right: rem;
}

a.Github {
  color: #181616;
}

a.linkdin {
  color: #181616;
}

a.instagram {
  color: black;
}




@media only screen and (max-width: 600px) {
    
  .end{
    overflow-wrap: break-word;
    word-wrap: break-word;
    text-overflow: ellipsis;
    font-size: small;
    width:15rem;
    padding-left: 3rem;
  }
  .App-header{
    width: 200px;
  }

}
