*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* navbar */
header{
    font-family: 'Montserrat', sans-serif;
    
}
header a{
    margin: 1rem;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #030332;
}
header button{
    /* background-color: #D6E4E5; */
    color: #030332;
    border: none;
    font-size: 1.5rem;
}
nav{
    position: absolute;
    display: flex;
    width: 100%;
    background-color: #D6E4E5;
    justify-content: space-between;
    align-items: center;
}
/* .logo-name{
    line-height: 1rem;
} */
.logo{
    margin-left: 10px;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}
.regbtn{
    padding: 5px 10px;
    font-size: 1.3rem;
    margin-right: 45px;
    border-radius: 7px;
    background-color: #030332;
    color: #D6E4E5;
}
.nav-btn{
    cursor: pointer;
    display: none;
}
.links{
    margin-right: 20px;
}

@media screen and (max-width: 1024px){
.nav-btn{
    display: revert;
    
}
.nav-open-btn{
    margin: 20px;
    font-size: 30px;
}
.resnav{
    position: absolute;
    width: 100%;
    /* background-color: #D6E4E5 */
}
header nav{
    z-index: 100000;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
    transition: 0.7s;
    transform: translate(-200vw);
    background-color: #D6E4E5;
}
.links{
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
}
.regbtn{
    margin: 0;
    font-size: 1.5rem;
    padding: 10px 20px;
    margin-bottom: 150px;
}
.logo{
    margin: 0;
    margin-top: 100px;
}
.responsive_nav{
    transform: none;
}
.nav-close-btn{
    background-color: #D6E4E5;
    position: absolute;
    top: 1.2rem;
    right: 1.2rem;
}
}