.footer{
    align-items: center;
    text-align: justify;
    display: flex;
    justify-content: center;
}
.footer-container{
    display: grid;
    grid-template-columns: 1.5fr 0.5fr;
}
.content{
    margin: 0 80px ;
    width: 87%;
    font-family: 'Roboto', sans-serif;
}
.content>h1{
    margin-top: 50px;
    width: 80%;
    font-size: 1.7rem;
    font-family: 'Montserrat', sans-serif;    
}
.content>h1>span{
    color: #5793C9;
}
.cnt{
    width: 80%;
}

.menu>ul{
    display:flex;
    list-style: none;
    justify-content: center;
}
.menu>ul>a{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #000000;
    font-size: 1.2rem;
    margin: 10px;
}
.sep{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #000000;
    font-size: 1.2rem;
    margin: 10px;
}
.social>ul{
    display:flex;
    list-style: none;
    justify-content: center;
}
.footer-logo{
    background-color: #051522;
    width: 180px;
    height: 180px;
    border-radius: 100%;
    margin: 20px 0;
}
.footer-logo>img{
    margin: 25px 17px;
    width: 150px;

}


.fa-brands{
    margin: 15px 20px;
    font-size: 1.5em;
    color: #000000
}
.copyright{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding: 1rem 0;
}

@media (max-width: 650px){
    .footer-container{
        display: revert;
    }
    .footer-child{
        align-items: center;
        justify-content: center;
        text-align: justify;
    }
    .footer{
        overflow: hidden;
        flex-direction: column;
    }
    
    .content{
        margin: 0px 60px;
        font-size: 18px;
    }
    .content>h1{
        font-size: 25px;
    }
    .social>ul{
        font-size: 15px;
        text-align: center;
    }
    .menu>ul{
        text-align: center;
    }
    .logo-child{
        display: flex;
    }
}